html {
  background-color: brown;
  font-size: 20px;
}

ul {
  background: orange;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

.dark-mode {
  background-color: #e6e0f8;
}
